/* Define reusable variables */
:root {
  --primary-color: #95BF81;
  --text-color: #202020;
  --bg-color: #E0EDDA;
}

* {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p,
a {
  font-size: 1.6rem;
}

html {
  font-size: 62.5%;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 2em 3em;
  position: relative;
}

.active {
  font-weight: bold;
  border-bottom: 1px solid var(--text-color);
}

.hide-mobile {
  display: none;
}

.toggle-menu {
  transform: translateX(0);
}

.btn-primary {
  background: var(--primary-color);
  border-radius: 0.5em;
  border: 1.5px solid var(--text-color);
  padding: 1em;
  width: 65%;
  margin: 2em 0 0 0;
  display: flex;
  align-items: center;
  gap: 1em;
  place-content: center;
}
.btn-primary a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  font-size: 1.6rem;
}

/* Common styles for background color */
.bg-green {
  background: var(--bg-color);
}

/* Header styles */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--text-color);
  padding-bottom: 2em;
}

/* Upper section styles */
.upper {
  text-align: center;
  /* Styles for heading */
  /* Styles for image */
  /* Styles for left section */
}
.upper h1 {
  font-size: 3.5rem;
  margin: 0.5em auto;
  width: 350px;
}
.upper img {
  margin: 1.5em 1em;
}
.upper .left {
  border-bottom: 1px solid var(--text-color);
  padding: 2em 0;
}

/* Lower section styles */
.lower {
  padding: 3em 0;
  /* Styles for download section */
}
.lower .download {
  display: flex;
  gap: 2em;
  margin-bottom: 2em;
  align-items: center;
  width: 85%;
  text-align: start;
}

/* Aside (sidebar) styles */
aside {
  position: fixed;
  z-index: 999;
  right: 0;
  top: 0;
  height: 100vh;
  background: var(--text-color);
  width: 60%;
  padding: 5em;
  text-align: right;
  transition: transform 0.5s;
  transform: translateX(100%);
  /* Exit button styles */
  /* Navigation styles */
}
aside .exit {
  width: 30px;
  margin-bottom: 2em;
  border: 2px solid white;
  border-radius: 4em;
  padding: 0.4em;
  cursor: pointer;
}
aside nav ul li {
  margin-bottom: 1.8em;
  list-style: none;
}
aside nav ul li a {
  font-size: 2.6rem !important;
  text-decoration: none;
  color: white;
}

/* Logos section styles */
.logos {
  background: var(--text-color);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  place-items: center;
  gap: 5em;
  padding: 6em;
}

/* Logo image styles */
.logos img {
  width: 70px;
}

/* Reusable styles for item boxes */
.item {
  border: solid 1px var(--text-color);
  border-radius: 0.5em;
  position: relative;
  margin-bottom: 3em;
  /* Span styles (background and text) */
  /* Image styles */
  /* Price tag styles */
}
.item span {
  background: white;
}
.item span p {
  padding: 1.5em;
  font-weight: 700;
  font-size: 1.8rem;
}
.item img {
  width: 100%;
  height: 250px;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}
.item .price {
  position: absolute;
  background: var(--text-color);
  color: white;
  padding: 1.2em 1.6em;
  bottom: 0;
  right: 0;
}

footer {
  background-color: var(--bg-color);
  margin-top: 1em;
}
footer .footer {
  display: flex;
  align-items: flex-end;
  gap: 2em;
  justify-content: space-between;
}
footer .footer .left-col {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
footer .footer .left-col .store {
  display: flex;
  gap: 2em;
}
footer .footer .left-col .store .gplay {
  width: 100px;
}
footer .footer .right-col {
  display: flex;
  flex-direction: column;
  gap: 3em;
  align-items: flex-end;
}
footer .footer .right-col nav ul {
  display: flex;
  gap: 2em;
}
footer .footer .right-col nav ul li {
  list-style: none;
}
footer .footer .right-col nav ul li a {
  text-decoration: none;
  color: var(--text-color);
}
footer .social-media {
  display: flex;
  gap: 2em;
}
footer .social-media img {
  width: 30px;
}

@media only screen and (min-width: 700px) {
  .container {
    padding-bottom: 0;
  }
  .hide-tablet {
    display: none;
  }
  .hide-mobile {
    display: unset;
  }
  header nav ul {
    display: flex;
    gap: 2.5em;
    align-items: center;
  }
  header nav ul li {
    list-style: none;
  }
  header nav ul li a {
    text-decoration: none;
    color: var(--text-color);
  }
  header .btn-header {
    background: var(--primary-color);
    padding: 1.2em 1.5em;
    border: 1.6px solid var(--text-color);
    border-radius: 0.5em;
  }
  header .btn-header a {
    text-decoration: none;
    font-weight: 500;
    color: var(--text-color);
  }
  .hero-section {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 3em;
  }
  .upper {
    border-right: 1px solid var(--text-color);
    text-align: start;
    flex: 1;
  }
  .upper .review {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-top: 2em;
    padding-bottom: 4em;
  }
  .upper .left {
    border-bottom: unset;
  }
  .upper .left img {
    width: 150px;
    margin: 1em 0;
  }
  .upper .left p {
    font-size: 1rem;
  }
  .upper .right {
    background: white;
    height: 63px;
    border-radius: 5em;
    padding: 0.5em;
    display: flex;
    align-items: center;
  }
  .upper .right strong {
    padding: 0 1em 0 0;
  }
  .upper .right p {
    font-size: 1.4rem;
    color: var(--primary-color);
  }
  .upper .right img {
    width: 50px;
    margin: 0 0.5em;
  }
  .upper h1 {
    font-size: 2.9rem;
    margin: 1.3em 0 0.5em 0;
  }
  .logos {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5em;
  }
  .shop-item {
    display: grid;
    grid-template-columns: 2fr repeat(2, 1fr);
    gap: 2em;
    grid-area: "";
  }
  .lower {
    font-size: 1.4rem;
    flex: 1;
  }
  .lower .download {
    gap: 1em;
    margin-bottom: 1.2em;
  }
  .lower img {
    width: 30px;
  }
}
@media only screen and (min-width: 1100px) {
  .hero-section {
    flex-direction: column;
  }
  .hero-section .upper {
    border-right: none;
  }
  .hero-section .upper h1 {
    font-size: 4.4rem;
    width: 90%;
  }
  .hero-section .upper .review {
    gap: 3em;
  }
  .hero-section .upper .review .left p {
    font-size: 1.8rem;
  }
  .hero-section .upper .review .left img {
    width: 300px;
  }
  .hero-section .upper .review .right {
    height: 100px;
    padding: 0.5em;
  }
  .hero-section .upper .review .right strong {
    font-size: 1.8rem;
  }
  .hero-section .upper .review .right p {
    font-size: 1.6rem;
    margin-top: 0.5em;
  }
  .hero-section .upper .review .right img {
    width: 80px;
  }
  .hero-section .lower .features {
    display: flex;
    gap: 6em;
    justify-content: space-between;
  }
  .hero-section .lower .features .download {
    flex-direction: column;
    align-items: start;
    gap: 1.5em;
  }
  .hero-section .lower .features .download img {
    width: 50px;
  }
  .hero-section .lower .features .download p {
    font-size: 2rem;
  }
  .logos {
    padding: 5em 35em;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5em;
  }
  .shop-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3em;
    text-align: center;
  }
  footer {
    margin-top: 5em;
  }
  .btn-primary {
    width: 200px;
    margin: 3em 0 3em 0;
  }
}/*# sourceMappingURL=main.css.map */